@import 'open-props/normalize';
@import 'open-props/style';
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Mallanna&display=swap');

:root {
	--surface-1: hsl(201, 16%, 17%);
	--surface-2: hsl(202, 25%, 15%);
	--surface-3: hsl(203, 30%, 8%);
	--surface-4: hsl(204, 38%, 5%);
	--surface-5: hsl(200, 43%, 1%);
	--surface-6: hsl(201, 23%, 22%);
	--text-1: hsl(200, 43%, 1%);
	--text-2: hsl(198, 62%, 96%);
	--text-3: hsl(203, 45%, 91%);
	--text-4: hsl(202, 23%, 79%);
	--border-1: hsl(193, 43%, 67%);
	--accent-1: hsl(195, 77%, 58%);
	--accent-2: hsl(186, 13%, 57%);
	--info: hsl(202, 67%, 36%);
	--error: hsl(358, 71%, 55%);
	--warning: hsl(40, 85%, 57%);
	--success: hsl(140, 76%, 48%);

	--padding: clamp(0.5rem, 2vw, 1rem);
	--space-sm: var(--size-3);
	--space-lg: var(--size-5);

	--font-size-sm: var(--font-size-0);
	--font-size-body: 1.125rem;
	--font-size-sub-title: 1.5rem;
	--line-height-body: 1.6em;
	--font-weight-normal: var(--font-weight-5);
	--font-weight-bold: var(--font-weight-6);
	--font-weight-hero: var(--font-weight-8);
	--letter-spacing-body: 0.03em;
	--letter-spacing-title: -0.03em;

	--font-body: 'Atkinson Hyperlegible', sans-serif;
	--font-title: 'Mallanna', sans-serif;
}

body::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('/bg-noise.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.2;
}

body {
	position: relative;
	margin: 0;
	min-height: 100vh;
	background-color: var(--surface-1);
	-webkit-font-smoothing: antialiased;
	color: var(--text-2);
	font-family: var(--font-body);
	font-size: var(--font-size-body);
	letter-spacing: var(--letter-spacing-body);
	font-weight: var(--font-weight-normal);
	line-height: var(--line-height-body);
}

.button {
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	display: inline-grid;
	gap: var(--space-sm);
	grid-auto-flow: column;
	place-items: center;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: 1px solid var(--accent-1);
	border-radius: var(--radius-2);
	color: var(--text-3);
	background-color: var(--surface-3);
	padding: 0.5rem 1rem;
	touch-action: manipulation;
	transition: all 2500ms var(--timing-function-slow-ease);
}

.button:hover {
	background-color: var(--accent-1);
}

.title {
	font-family: var(--font-title);
	color: var(--accent-1);
}
.sub-title {
	font-family: var(--font-body);
	color: var(--accent-1);
}
